# Ignore node_modules
node_modules/

backend/
# Ignore build output from NestJS (now at the root)
dist/

# Ignore build output from Next.js frontend (assuming it's still in the subdirectory)
my-property-portal/.next/
my-property-portal/out/

# Ignore all .env files across the project
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs
*.log

# Ignore VSCode settings
.vscode/
